Repository boucadair/draft-xxx-ac-rate-policy-discovery, pull requests merged in 2024-11, with the labels that each got.

#45 pointer to rfc4115
  draft-brw-scone-throughput-advice-blob.md
Labels: Blob

#46 criteria classification
  draft-brw-scone-analysis.md
Labels: Analysis

#44 Create example-nrlp-wire-format.md
  example-nrlp-wire-format.md
Labels: NRLP

#50 app examples
  draft-brw-scone-throughput-advice-blob.md
Labels: Blob

#54 Change Y/N to TBC
  draft-brw-scone-analysis.md
Labels: Analysis

#53 add text for need/use of reliability flag
  draft-brw-scone-throughput-advice-blob.md
Labels: Blob

#64 nit
  draft-brw-scone-throughput-advice-blob.md
Labels: Blob

#65 simplify abstract
  draft-brw-scone-throughput-advice-blob.md
Labels: Blob

#66 categories
  draft-brw-scone-throughput-advice-blob.md
Labels: Blob

#67 scope
  draft-brw-scone-throughput-advice-blob.md
Labels: Blob

#73 remove app with muxed types in single flow
  draft-brw-scone-throughput-advice-blob.md
Labels: Blob

#75 remove specific traffic category
  draft-brw-scone-throughput-advice-blob.md
Labels: Blob

#74 Soften DDoS mentions in sec section
  draft-brw-scone-throughput-advice-blob.md
Labels: Blob

#77 Comments from Tiru
  draft-brw-scone-analysis.md
Labels: Analysis

#79 PvD ID use
  draft-brw-scone-analysis.md
Labels: Analysis
